<p id="notice"><%= notice %></p>

<h1>Health Cares</h1>

<table>
  <thead>
    <tr>
      <th>State policy</th>
      <th>Modify medicaid with 1135 waivers</th>
      <th>Aca special enrollment period</th>
      <th>Audio only telehealth</th>
      <th>Allow or expand medicaid telehealth</th>
      <th>Suspended elective medical</th>
      <th>Resumed elective medical</th>
      <th>Made efforts to limit abortions</th>
      <th>Limit abortion details</th>
      <th>Medicaid expansion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_cares.each do |health_care| %>
      <tr>
        <td><%= health_care.state_policy_id %></td>
        <td><%= health_care.modify_medicaid_with_1135_waivers %></td>
        <td><%= health_care.aca_special_enrollment_period %></td>
        <td><%= health_care.audio_only_telehealth %></td>
        <td><%= health_care.allow_or_expand_medicaid_telehealth %></td>
        <td><%= health_care.suspended_elective_medical %></td>
        <td><%= health_care.resumed_elective_medical %></td>
        <td><%= health_care.made_efforts_to_limit_abortions %></td>
        <td><%= health_care.limit_abortion_details %></td>
        <td><%= health_care.medicaid_expansion %></td>
        <td><%= link_to 'Show', health_care %></td>
        <td><%= link_to 'Edit', edit_health_care_path(health_care) %></td>
        <td><%= link_to 'Destroy', health_care, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health Care', new_health_care_path %>
